@model UserInfoApp.Model.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

<h2> Добавление пользователя</h2>

<p><a asp-action="Back">К списку пользователей</a></p>

<style>
.field-validation-error {
    color: #b94a48;
}
  
input.input-validation-error {
    border: 1px solid #b94a48;
}
input.valid {
    border: 1px solid #16a085;
}
 
.validation-summary-errors {
    color: #b94a48;
}
</style>

<form asp-action="create" asp-controller="home">
   <div asp-validation-summary="All"></div>
    <h3>Основные данные</h3>
    <p>
        <label asp-for="LastName">Фамилия</label><br />
        <input type="text" asp-for="LastName" />
        <span asp-validation-for="LastName"  />
    </p>
    <p>
        <label asp-for="FirstName">Имя</label><br />
        <input type="text" asp-for="FirstName" />
        <span asp-validation-for="FirstName"  />
    </p>
    <p>
        <label asp-for="PatronymicName">Отчество</label><br />
        <input type="text" asp-for="PatronymicName" />
        <span asp-validation-for="PatronymicName"  />
    </p>
     <p>
        <label asp-for="EmailAddress">Почта</label><br />
        <input type="text" asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"  />
    </p>
     <p>
        <label asp-for="PhoneNumber">Телефон</label><br />
        <input type="text" asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"  />
    </p>

    <h3>Паспортные данные</h3>
     <p>
        <label asp-for="Passport.Number">номер паспорта</label><br />
        <input type="text" asp-for="Passport.Number" />
        <span asp-validation-for="Passport.Number"  />
     </p>
      <p>
        <label asp-for="Passport.DateOfBirth">Дата рождения</label><br />
        <input type="text" asp-for="Passport.DateOfBirth" />
     </p>
      <p>
        <label asp-for="Passport.PlaceOfBirth">Место рождения</label><br />
        <input type="text" asp-for="Passport.PlaceOfBirth" />
     </p>
      <p>
        <label asp-for="Passport.RegistrationAddress">Адрес регистрации</label><br />
        <input type="text" asp-for="Passport.RegistrationAddress" />
     </p>
      <p>
        <label asp-for="Passport. AddressOfResidence">Адрес проживания</label><br />
        <input type="text" asp-for="Passport.AddressOfResidence" />
     </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
