@model UserInfoApp.Model.User

<h2> Добавление пользователя</h2>
<p><a asp-action="Back">На главную</a></p>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
    <p>
        <label asp-for="FirstName">Имя</label><br />
        <input type="text" asp-for="FirstName" />
    </p>
    <p>
        <label asp-for="PatronymicName">Отчество</label><br />
        <input type="text" asp-for="PatronymicName" />
    </p>
    <p>
        <label asp-for="LastName">Фамилия</label><br />
        <input type="text" asp-for="LastName" />
    </p>
     <p>
        <label asp-for="EmailAddress">Почта</label><br />
        <input type="text" asp-for="EmailAddress" />
    </p>
     <p>
        <label asp-for="PhoneNumber">Телефон</label><br />
        <input type="text" asp-for="PhoneNumber" />
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>