@model UserInfoApp.Model.User

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" />

<h2> Добавление пользователя</h2>
<p><a asp-action="Back">К списку пользователей</a></p>
<form asp-action="edit" asp-controller="home" asp-route-id="@Model.Id">
   <h3>Основные данные</h3>
    <p>
        <label asp-for="LastName">Фамилия</label><br />
        <input type="text" asp-for="LastName" />
    </p>
    <p>
        <label asp-for="FirstName">Имя</label><br />
        <input type="text" asp-for="FirstName" />
    </p>
    <p>
        <label asp-for="PatronymicName">Отчество</label><br />
        <input type="text" asp-for="PatronymicName" />
    </p>
     <p>
        <label asp-for="EmailAddress">Почта</label><br />
        <input type="text" asp-for="EmailAddress" />
    </p>
     <p>
        <label asp-for="PhoneNumber">Телефон</label><br />
        <input type="text" asp-for="PhoneNumber" />
    </p>

    <h3>Паспортные данные</h3>
     <p>
        <label asp-for="Passport.Number">номер паспорта</label><br />
        <input type="text" asp-for="Passport.Number" />
     </p>
      <p>
        <label asp-for="Passport.DateOfBirth">Дата рождения</label><br />
        <input type="text" asp-for="Passport.DateOfBirth" />
     </p>
      <p>
        <label asp-for="Passport.PlaceOfBirth">Место рождения</label><br />
        <input type="text" asp-for="Passport.PlaceOfBirth" />
     </p>
      <p>
        <label asp-for="Passport.RegistrationAddress">Адрес регистрации</label><br />
        <input type="text" asp-for="Passport.RegistrationAddress" />
     </p>
      <p>
        <label asp-for="Passport. AddressOfResidence">Адрес проживания</label><br />
        <input type="text" asp-for="Passport.AddressOfResidence" />
     </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>